<div class="page-container">
    <div class="col-md-12 page-heading"><b>Pool Variance Dashboard</b></div><br/>
    <div class="page-body">
        <div class="row">
            <div class="col-md-12">
                <div style="background: #d1deef;padding:5px;height:40px">
                    <!--<input class="ctg-textbox pull-left" placeholder="Search by state" [(ngModel)]="stateFil" /><span class="pull-left glyphicon glyphicon-search serch-gly"></span>-->
                    <!--<input class="ctg-textbox pull-left" placeholder="Search by city" [(ngModel)]="cityFil" style="margin-left:10px;" /><span class="pull-left glyphicon glyphicon-search serch-gly"></span>-->
                    <!--<input class="ctg-textbox pull-left" placeholder="Company/Customer" [(ngModel)]="ccFil" style="margin-left:10px;" /><span class="pull-left glyphicon glyphicon-search serch-gly"></span>-->
                    
                    <div class="dropdown pull-left pm-select-cont">
                        <input class="ctg-textbox dropdown-toggle" type="text" data-toggle="dropdown" placeholder="Search by state" [(ngModel)]="stateFil"/>
                        <span class="caret"></span>
                        <ul class="dropdown-menu no-padding">
                            <li><input type="checkbox" value="">AL</li>
                            <li><input type="checkbox" value="">AR</li>
                            <li><input type="checkbox" value="">AZ</li>
                        </ul>
                    </div>
                    <div class="dropdown pull-left pm-select-cont" style="margin-left:10px;">
                        <input class="ctg-textbox dropdown-toggle" type="text" data-toggle="dropdown" placeholder="Search by city" [(ngModel)]="cityFil" />
                        <span class="caret"></span>
                        <ul class="dropdown-menu no-padding">
                            <li><input type="checkbox" value="">Birmingham</li>
                            <li><input type="checkbox" value="">Cullman</li>
                            <li><input type="checkbox" value="">Gentry</li>
                            <li><input type="checkbox" value="">North Little Rock</li>
                            <li><input type="checkbox" value="">Phoenix</li>
                        </ul>
                    </div>
                    <div class="dropdown pull-left pm-select-cont" style="margin-left:10px;">
                        <input class="ctg-textbox dropdown-toggle" type="text" data-toggle="dropdown" placeholder="Company/Customer" [(ngModel)]="ccFil" />
                        <span class="caret"></span>
                        <ul class="dropdown-menu no-padding">
                            <li><input type="checkbox" value="">Averitt</li>
                            <li><input type="checkbox" value="">Serta</li>
                            <li><input type="checkbox" value="">Walmart 6008</li>
                            <li><input type="checkbox" value="">Valspar</li>

                        </ul>
                    </div>
                    <select class="form-control pull-left pm-select" id="sel1" [ngModel]="selectedVarience" (ngModelChange)="selectVarience($event)">
                        <option value=1>Pools having variance</option>
                        <option value=0>Pools having no variance</option>
                        <option value=-1>All pools</option>
                    </select>
                    <button type="button" class="pm-addBut pull-right" data-toggle="modal" data-target="#myModal">Add <span class="pull-right glyphicon glyphicon-plus pm-add-plus"></span></button>
                    <!--<button type="button" class="btn btn-info btn-lg"  data-toggle="modal" data-target="#myModal">Open Modal</button>-->
                </div>
            </div>
            <div class="col-md-12">
                <div style="background: white;">
                    <h5 style="padding:15px;margin:0px;font-weight:bold">Pool List</h5>
                </div>
            </div>
            <div class="col-md-12">
                <table class="app-table table table-striped table-hover table-bordered1">
                    <thead>
                        <tr bgcolor="#f7f8fc" class="app-table-tr">
                            <th style="text-align:center" *ngFor="let con of config.column">{{con}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of data| filterC:cityFil:'city'| filterC:stateFil:'state'| filterC:ccFil:'company'">
                            <td style="text-align:center">
                                <span>{{item.state}}</span>
                            </td>
                            <td style="text-align:center">
                                <span>{{item.city}}</span>
                            </td>
                            <td style="text-align:center">
                                <span>{{item.pool}}</span>
                            </td>
                            <td style="text-align:center">
                                <span>{{item.company}}</span>
                            </td>
                            <td style="text-align:center">
                                <span>{{item.csr}}</span>
                            </td>
                            <td style="text-align:center">
                                <span>{{item.planner}}</span>
                            </td>
                            <td style="text-align:center">
                                <span>{{item.twm}}</span>
                            </td>
                            <td style="text-align:center">
                                <span>{{item.reqPool}}</span>
                            </td>

                            <td style="text-align:center">
                                <span>{{item.curr}}</span>
                            </td>
                            <td style="text-align:center">
                                <span>{{item.variance}}</span>
                            </td>
                            <td style="text-align:center">
                                <button type="button" class="action" data-toggle="modal" data-target="#editModal"><span class="glyphicon glyphicon-edit"></span></button>

                                <button class="action"><span class="glyphicon glyphicon-play"></span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div style="text-align:center"><a>Previous</a><a style="padding:0px 30px 0px 30px;color:black">{{pageNum}}</a><a>Next</a></div>
            </div>
            <!-- Trigger the modal with a button -->
            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content" style="border-radius:0px">
                        <div class="modal-header page-heading">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add Pool</h4>
                        </div>
                        <div class="modal-body">
                            <div class="modal-div">
                                <div class="row pu-row">
                                    <div>
                                        <label>Company Name</label><br>
                                        <input class="pp-pu-text no-padding" />
                                    </div>
                                </div>
                                <div class="row pu-row">
                                    <div class="col-md-6 orPad">
                                        <label>State</label><br />
                                        <input class="no-padding col-md-12" />
                                    </div>
                                    <div class="col-md-6 olPad">
                                        <label>City</label><br />
                                        <input class="no-padding col-md-12" />
                                    </div>
                                </div>
                                <div class="row pu-row">
                                    <div class="col-md-6 orPad">
                                        <label>Csr</label><br />
                                        <input class="no-padding col-md-12" />
                                    </div><div class="col-md-6 olPad">
                                        <label>Planner</label><br />
                                        <input class="no-padding col-md-12" />
                                    </div>
                                </div><div class="row pu-row">
                                    <div>
                                        <label>TMW</label><br>
                                        <input class="no-padding col-md-12" />
                                    </div>
                                </div><div class="row pu-row">
                                    <div class="col-md-6 orPad">
                                        <label>Trailer Type</label><br />
                                        <input class="no-padding col-md-12" />
                                    </div><div class="col-md-6 olPad">
                                        <label>Required</label><br />
                                        <input class="no-padding col-md-12" />
                                    </div><button class="pull-right add-trType"><span class="glyphicon glyphicon-plus-sign blue-but"></span></button>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer page-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-success" data-dismiss="modal">Save</button>
                        </div>
                    </div>

                </div>
            </div>
            <div id="editModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content" style="border-radius:0px">
                        <div class="modal-header page-heading">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Update Pool</h4>
                        </div>
                        <div class="modal-body">
                            <div class="modal-div">
                                <div>
                                    <label>Pool # :</label>
                                    <label>AMAHEB12</label><br>
                                    <label>Company Name :</label>
                                    <label>AMAZON CVGS</label><br>
                                    <label>State :</label>
                                    <label>AL, </label>
                                    <label>City :</label>
                                    <label>Birmingham</label>
                                </div>
                                <div class="row pu-row">
                                    <div class="col-md-6 orPad">
                                        <label>Csr</label><br />
                                        <input class="no-padding col-md-12" />
                                    </div><div class="col-md-6 olPad">
                                        <label>Planner</label><br />
                                        <input class="no-padding col-md-12" />
                                    </div>
                                </div>
                                <div class="row pu-row">
                                    <div class="col-md-6 orPad">
                                        <label>Trailer Type</label><br />
                                        <input class="no-padding col-md-12" />
                                    </div><div class="col-md-6 olPad">
                                        <label>Required</label><br />
                                        <input class="no-padding col-md-12" />
                                    </div><button class="pull-right add-trType"><span class="glyphicon glyphicon-plus-sign blue-but"></span></button>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer page-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-success" data-dismiss="modal">Save</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>