h1 {
    font-size: 300%;
    color: #34495e;
}

.app-table {
    width: 100%;
    margin-bottom: 10px;
}

.app-table-tr {
    padding: 15px;
}

.app-table tr {
    height: 45px;
    padding: 10px;
}

.serch-gly {
    background-color: white;
    height: 30px;
    width: 30px;
    line-height: 2;
    border-left: 1px solid #d1deef;
    padding-left: 8px;
}

.ctg-textbox {
    border: none;
    padding: 10px;
    height: 30px;
}

.action {
    border: none;
    background: transparent;
}

.pm-select {
    width: auto;
    margin-left: 10px;
    height: 31px;
    border-radius: 0px;
}

.pm-addBut {
    border: none;
    background: #00264B;
    color: white;
    height: 30px;
}
.pm-add-plus {
    padding-left: 5px;
}
.pp-pu-text{
    width:100%;
}

.no-padding{
    padding:0px;
}

.pu-row {
    margin: 0px;
    padding: 10px 40px 10px 0px;
}

.modal-div{
    padding-left:20px;
    padding-right:20px;
}

.olPad {
    padding-left: 15px;
    padding-right: 0px;
}
.orPad {
    padding-left: 0px;
    padding-right: 15px;
}
.page-body {
    padding: 0px 20px 20px 20px;
    margin-top: 30px;
}

.table-bordered1{
    border:1px solid silver;
}

.page-footer {
    background-color: #f4f6f9;
    height: 45px;
    padding: 5px 40px 5px 30px;
}