<div class="" style="border: 1px solid silver">
    <div class="row">
        <div class="col-md-12">
            <div style="background: #b3d4fc;padding:5px;">
                <input class="ctg-textbox" placeholder="Search by state"  /><span class="glyphicon glyphicon-search serch-gly"></span>
                <input class="ctg-textbox" placeholder="Search by city" style="margin-left:10px;" /><span class="glyphicon glyphicon-search serch-gly"></span>
                <input class="ctg-textbox" placeholder="Company/Customer" style="margin-left:10px;" /><span class="glyphicon glyphicon-search serch-gly"></span>
                <input class="ctg-textbox" placeholder="Pools having variance" style="margin-left:10px;" /><span class="glyphicon glyphicon-search serch-gly"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div style="background: white;">
                <h5 style="padding:15px;margin:0px;font-weight:bold">Yard Management</h5>
            </div>
        </div>
        <div class="col-md-12">
            <table class="app-table table table-striped table-hover">
                <thead>
                    <tr bgcolor="#b3d4f" class="app-table-tr">
                        <th style="text-align:center" *ngFor="let con of config.column">{{con}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of config.rows">
                        <td style="text-align:center" *ngFor="let val of row">
                            <span>{{val}}</span>
                        </td>
                        <td style="text-align:center">
                            <button class="action"><span class="glyphicon glyphicon-edit"></span></button>
                            <button class="action"><span class="glyphicon glyphicon-play"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
