<div class="row page-container" style="margin:0px">
    
    <div class="col-md-12 page-heading"><b>Locate Trailer</b></div><br />
    
        
        <div class="col-md-12 page-body">
            <div class="filter-container">
                <input class="ctg-textbox" placeholder="Trailer ID" />
                <input class="ctg-textbox" placeholder="Choose state" style="margin-left:10px" />
            </div>
            <div style="padding-top:15px;">
                <!--<gmaps></gmaps>-->
                <gmapjs></gmapjs>
            </div>
        </div>
    
    
</div>