<div class="" style="border: 1px solid silver">
    <div class="row">
        <div class="col-md-12">
            <div style="background: silver;">
                <h5 style="padding:15px;margin:0px">Locate Trailer</h5>
            </div>
        </div>
        <div class="col-md-12">
            <div style="background: #b3d4fc;padding:15px;">
                <input class="ctg-textbox" placeholder="Trailer ID" style="padding:0px;" />
                <input class="ctg-textbox" placeholder="Choose state" style="margin-left:10px;padding:0px" />
            </div>
            <div style="padding:15px;">
                <gmaps></gmaps>
            </div>
        </div>
    </div>
</div>