<div class="container">
    <ul style="list-style:none;float:left;padding-left:0px">
        <li style="float:left;padding-left:10px;padding-right: 10px;border-right: 1px solid silver;">
            <h4><a href="#" (click)="toShowTab=1">Home</a></h4>
        </li>
        <li style="float:left;padding-left:10px;padding-right: 10px;border-right: 1px solid silver;">
            <h4><a href="#" (click)="toShowTab=2">Allocation</a></h4>
        </li>
        <li style="float:left;padding-left:10px ;padding-right: 10px;border-right: 1px solid silver;">
            <h4><a href="#" (click)="toShowTab=3">Yard Management</a></h4>
        </li>
        <li style="float:left;padding-left:10px ;padding-right: 10px">
            <h4><a href="#" (click)="toShowTab=4">Pool Management</a></h4>
        </li>
    </ul>
</div>
<br />
<div class="container">
    <home-page></home-page>
    <!--<app-allocation-page *ngSwitchCase=2></app-allocation-page>
    <app-yard-mang-page *ngSwitchCase=3></app-yard-mang-page>-->
    <!--<app-pool-mang-page *ngSwitchCase=4></app-pool-mang-page>-->
    
</div>