@import "./node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "./node_modules/font-awesome/css/font-awesome.css";

.ctg-textbox {
    border: none;
    padding: 10px;
    height:30px;
}

body {
    font-family: "Trebuchet MS" !important;
    background-color:#fafafa;
}

.page-container {
    box-shadow: 1px 2px 5px grey;
    border: 1px solid silver;
    background-color:white;
}

.filter-container {
    background: #d1deef;
    padding: 5px;
    height: 40px
}


.page-heading {
    height: 40px;
    background-color: #d3d3d3;
    padding: 10px;
}